<header class="bd-headerarea-1 bd-margins">
<div class="bd-layoutbox-33 bd-page-width bd-no-margins clearfix">
<div class="bd-container-inner">
<div class="bd-joomlaposition-59 clearfix">
<div class="bd-block bd-own-margins">
<div class="bd-blockcontent bd-tagstyles">
<div class="custom">
<p><a href="/" title="BOS &amp; BOP"><img alt="BOS &amp; BOP" height="auto" src="/assets/images/4cd7c0f7b92c_logotype-bops-bop.svg" width="100%"/></a></p></div>
</div>
</div>
</div>
<div class="bd-joomlaposition-32 clearfix">
<div class="bd-block-70 bd-own-margins">
<div class="bd-blockcontent bd-tagstyles">
<div class="custom">
<div><i class="icon-phone" style="font-size: 20px;">  </i><a href="tel:+336648692036">06.48.69.20.36</a></div></div>
</div>
</div>
</div>
<div class="bd-joomlaposition-37 bd-no-margins clearfix">
<div class="bd-block-69 bd-own-margins">
<div class="bd-blockcontent bd-tagstyles">
<span class="a2a_kit a2a_kit_size_28 addtoany_list" data-a2a-icon-color="#ddc076" style="line-height: 28px;">
<a class="a2a_button_facebook" href="/#facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(221, 192, 118); width: 28px; line-height: 28px; height: 28px; background-size: 28px; border-radius: 4px;"><svg aria-hidden="true" focusable="false" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M28 16c0-6.627-5.373-12-12-12S4 9.373 4 16c0 5.628 3.875 10.35 9.101 11.647v-7.98h-2.474V16H13.1v-1.58c0-4.085 1.849-5.978 5.859-5.978.76 0 2.072.15 2.608.298v3.325c-.283-.03-.775-.045-1.386-.045-1.967 0-2.728.745-2.728 2.683V16h3.92l-.673 3.667h-3.247v8.245C23.395 27.195 28 22.135 28 16" fill="#fff"></path></svg></span><span class="a2a_label">Facebook</span></a>
<a class="a2a_button_twitter" href="/#twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(221, 192, 118); width: 28px; line-height: 28px; height: 28px; background-size: 28px; border-radius: 4px;"><svg aria-hidden="true" focusable="false" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M28 8.557a10 10 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.7 9.7 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.94 4.94 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a5 5 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174q-.476-.001-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.9 9.9 0 0 1-6.114 2.107q-.597 0-1.175-.068a13.95 13.95 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013q0-.32-.015-.637c.96-.695 1.795-1.56 2.455-2.55z" fill="#FFF"></path></svg></span><span class="a2a_label">Twitter</span></a>
<a class="a2a_button_linkedin" href="/#linkedin" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_linkedin" style="background-color: rgb(221, 192, 118); width: 28px; line-height: 28px; height: 28px; background-size: 28px; border-radius: 4px;"><svg aria-hidden="true" focusable="false" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M6.227 12.61h4.19v13.48h-4.19zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187z" fill="#FFF"></path></svg></span><span class="a2a_label">LinkedIn</span></a>
<a class="a2a_dd" href="{{SHARE_HREF}}"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(221, 192, 118); width: 28px; line-height: 28px; height: 28px; background-size: 28px; border-radius: 4px;"><svg aria-hidden="true" focusable="false" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label a2a_localize" data-a2a-localize="inner,Share">Partager</span></a>
</span> </div>
</div>
</div>
</div>
</div>
<div class="bd-affix-1 bd-no-margins bd-margins affix-top" data-affix="" data-clip-at-control="top" data-enable-lg="" data-enable-md="" data-enable-sm="" data-fix-at-screen="top" data-offset=""><div class="bd-layoutbox-29 bd-page-width bd-no-margins clearfix">
<div class="bd-container-inner">
<nav class="bd-hmenu-6 bd-page-width bd-no-margins" data-offcanvas-delay="0ms" data-offcanvas-duration="700ms" data-offcanvas-timing-function="ease" data-responsive-levels="expand on click" data-responsive-menu="true" data-responsive-type="offcanvas">
<div class="bd-menuoverlay-8 bd-menu-overlay"></div>
<div class="bd-responsivemenu-6 collapse-button">
<div class="bd-container-inner">
<div class="bd-menuitem-56">
<a data-target=".bd-hmenu-6 .collapse-button + .navbar-collapse" data-toggle="collapse" href="{{PAGE_PATH}}" onclick="return false;">
<span>MENU</span>
</a>
</div>
</div>
</div>
<div class="navbar-collapse collapse width">
<div class="bd-horizontalmenu-7 clearfix">
<div class="bd-container-inner">
<ul class="bd-menu-13 nav nav-justified nav-pills">
{{MENU_ITEMS}} </ul>
</div>
</div> <div class="bd-menu-close-icon">
<a class="bd-icon bd-icon-55" href="{{PAGE_PATH}}"></a>
</div>
</div>
</nav>
</div>
</div>
</div><div class="bd-affix-fake bd-no-margins"></div>
</header>